﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("randomParametro1","RandomParametro")" method="post">
    Favor insertar un numero entre 50 y 100<br />
    <input type="number" name="valor1" required placeholder="Numero del 1 al 100" />
    <input type="submit" value="Enviar!" />
</form>

