﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("procesarLogin","Login")" method="post">
    Usuario<br />
    <input type="text" name="usuario" required placeholder="Usuario"/><br />
    Clave<br />
    <input type="password" name="clave" required placeholder="Clave"/><br />
    <input type="submit" value="Login" />

</form>

