﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("porTeclado", "TablaPorTeclado")" method="post">
    Introducir numero<br />
    <input type="number" name="introducir" required placeholder="Introducir numero" /><br />
    <input type="submit" value="Multiplicar" />
</form>

