﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("Login","LoginInfotep")" method="post">
    Usuario<br />
    <input type="text" name="usuario" required placeholder="Ingresar usuario" />
    <br />
    Clave<br />
    <input type="number" name="clave" required placeholder="Ingresar clave" />
    <br /><br />
    <input type="submit" value="Ingresar" />
</form>

