﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("estudiante","NotaEstudiante")" method="post">
    Favor ingresar el nombre del estudiante<br />
    <input type="text" name="nombre" required placeholder="Ingresar nombre estudiante" />
    <br />
    Nota primer parcial<br />
    <input type="number" name="parcial1" required placeholder="Ingresar nota primer parcial" />
    <br />
    Nota segundo parcial<br />
    <input type="number" name="parcial2" required placeholder="Ingresar nota segundo parcial" />
    <br />
    Nota tercer parcial<br />
    <input type="number" name="parcial3" required placeholder="Ingresar nota tercer parcial" />
    <br />
    <input type="submit" value="Verificar" />
</form>

