﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("aniosDeseados", "AniosDeseados")" method="post">
    Introducir años deseados<br />
    <input type="number" name="deseados" required placeholder="Introducir años" /><br />
    <input type="submit" value="Calcular" />

</form>
