﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("notaFinal1", "NotaFinal")" method="post">
    Ingresar nota<br />
    <input type="number" name="nota" required placeholder="Nota" />
    <input type="submit" value="Calificar" />
</form>

