﻿@model Periodico1.Models.noticias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>noticias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle_completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle_corto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle_corto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta_imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorias.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
