﻿@model AulaswithDB.Models.aula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>aula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.talleres.nombreTaller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.talleres.nombreTaller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAula.nombreTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAula.nombreTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
