﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("restoDiv","RestpDiv")" method="post">
    Favor ingresar el primer valor<br />
    <input type="number" name="v1" required placeholder="Primer valor" />
    <br />
    Favor ingresar el segundo valor<br />
    <input type="number" name="v2" required placeholder="Segundo valor" />
    <br />
    <input type="submit" value="Calcular" />
</form>

