﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("login","LoginInfotep")" method="post">
    Ingresar usuario <br />
    <input type="text" name="usuario" required placeholder="Ingresar usuario" />
    <br />
    Ingresar contraseña<br />
    <input type="password" name="clave" required placeholder="Ingresar password" />
    <br />
    <input type="submit" value="Ingresar" />
</form>

