﻿@model Libreria.Models.libros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>libros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor.nombreAutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor.nombreAutor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editorial.nombreEditorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorial.nombreEditorial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pasillos.pasillo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pasillos.pasillo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
