﻿@model IEnumerable<Libreria.Models.libros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor.nombreAutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editorial.nombreEditorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pasillos.pasillo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor.nombreAutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editorial.nombreEditorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pasillos.pasillo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
