﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("Promedio1","Promedio")" method="post">
    <input type="number" name="nota1" placeholder="Nota1" />
    <input type="number" name="nota2" placeholder="Nota2" />
    <input type="number" name="nota3" placeholder="Nota3" />
    <input type="number" name="nota4" placeholder="Nota4" />
    <input type="submit" value="Calcular" />

</form>
