﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("ingresarNota", "IngresarNota")" method="post">
    Ingresar primera nota<br />
    <input type="number" name="nota1" required placeholder="Nota 1" /><br /><br />
    Ingresar segunda nota<br />
    <input type="number" name="nota2" required placeholder="Nota 2" /><br /><br />
    Ingresar tercera nota<br />
    <input type="number" name="nota3" required placeholder="Nota 3" /><br /><br />
    Ingresar cuarta nota<br />
    <input type="number" name="nota4" required placeholder="Nota 4" /><br /><br />
    <input type="submit" value="Ingresar Notas" />
</form>

